body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.col-12 {
    padding-left: 0;
    padding-right: 0;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*.quotes-container {}

.features-container {}

.favourites-container {}*/

/*Block Dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #f05f40;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--black {
    background-color: #292929;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
    margin-bottom: 25px;
}

/*------------------------------------------Nav Bar*/

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #111613;
}

.page-heading {
    font-family: 'Montez', sans-serif;
}

.navbar-toggler {
    border: 0;
}

.navbar-dark .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.nav-overlay {
    height: 100%;
    width: 100%;
}

.dropdown-item {
    color: #111613;
}

/*------------------------------------------Shop Content*/

.shop-container {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}


/*------------------------------------------Jumbotron*/

.jumbotron {
    background-color: transparent;
    border-radius: 13px;
}

.jumbotron-header {
    color: #111613;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.btn--cta {
    font-weight: bold;
    border-radius: 13px;
    width: 200px;
}

.btn {
    background-color: #405742;
}
.menu-btn {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: #fafafa;
}

.menu-btn a {
    color: #fafafa;
}

.socials i {
    font-size: 40px;
    color: #fafafa;
    margin-left: 10px;
}

/*Features section*/

/* Content Containers */

/* Container Wrappers */

.content-section {
    background-color: #fafafa;
    min-height: 120px;
}


/*------------------------------------------Language Options modal*/

.lang-img {
    width: 45px;
    margin-left: 5px;
}

.modal-header {
    margin: 0 auto;
}

.lang-options {
    text-align: center;
}

.lang-options a {
    text-decoration: none;
    color: #fafafa;
}

.lang-btn {
    margin: 0 auto;
}

.mobile-lang-img {
    width: 30px;
}

.modal-language-img {
    width: 25px;
    margin-right: 6px;
}

/*------------------------------------------Footer*/

.noble-footer {
    background-color: #111613;;
    min-height: 150px;
    margin: 0;
}

.footer-right, .footer-left {
    text-align: center;
}

.general-sub {
    color: #fafafa;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.general-text {
    color: #fafafa;
    text-align: center;
    padding-bottom: 15px;
    text-decoration: none;
}

.noble-pie-map {
    padding: 15px 10px;
    margin: 0 auto;
}

.open-hours {
    margin: 0 auto;
    color: #fafafa;
    margin-bottom: 15px;
}

.weekdays {
    padding-right: 20px;
}
